body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;

}

h1 {
	text-align: center;
	/*padding-top: 300px;*/
	color: white;
}

img {
	align-items: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

button {
justify-content: center;
}